#banner {
    width: 100%;
    min-width: 1300px;
    height: 320px;
    background: linear-gradient(0deg, rgba(0,0,0,0.6)0%, rgba(0,0,0,0.6) 100%), url(../img/banner.jpg) center;
    background-size: cover;
    text-align: center;
    color: #f1f1f1;
    padding: 80px 0px;
}
#banner > h1 {
    font-size: 32px;
    line-height: 80px;
}
#banner > p {
    font-size: 16px;
    line-height: 26px;
}

/*numbers*/
#numbers {
    width: 1300px;
    margin: auto;
    padding: 100px 0px;
    color: #fff;
    background-color: #10c9c3;
}
#numbers > .item {
    width: 25%;
    float: left;
    height: 40px;
    border-right: 2px solid #f1f1f1;
    text-align: center;
}
#numbers > .item:last-child {
    border-right: 0;
}
.item > img {
    margin-right: 20px;
}
.item > p {
    font-size: 12px;
    line-height: 20px;
    display: inline-block;
    text-align: left;
    transform: translateY(-2px); /*이미지와 글자를 수평 가로로 정렬하기 위해 적용*/
}
.item > p > b {
    font-size: 16px;
}

/*about me*/
#about_me {
    width: 1300px;
    margin: auto;
}
#about_me > div {
    width: 50%;
    height: 520px;
    float: left;
}
#about_me > .txt {
    background-color: #f5f5f5;
    padding: 120px 100px;
}
#about_me > .txt > h1 {
    font-size: 28px;
    line-height: 40px;
    color: #191919;
    margin-bottom: 20px;
}
#about_me > .txt > p {
    line-height: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #777;
}
#about_me > .txt > .sign {
    margin-top: 20px;
}

/*project*/
#project {
    width: 100%;
    min-width: 1300px;
    height: 360px;
    padding: 80px;
    text-align: center;
}
#project > h1 {
    font-size: 28px;
    color: #191919;
    line-height: 40px;
    margin-bottom: 20px;
}
#project > p {
    margin-bottom: 40px;
    line-height: 20px;
    color: #777;
}
#project > button {
    width: 170px;
    height: 50px;
    border: 0;
    outline: 0;
    background-color: #10c9c3;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 2px;
    cursor: pointer;
}
#project > button:hover {
    background-color: #0cb6b0;
}